<header class="header">
  <div class="header__copy">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>

  <div class="header__actions" *ngIf="hasCreateActions">
    <button
      type="button"
      class="create-button"
      aria-haspopup="menu"
      [attr.aria-expanded]="isCreateMenuOpen"
      (click)="toggleCreateMenu()"
    >
      Create
      <span class="create-button__chevron" aria-hidden="true"></span>
    </button>

    <div class="create-menu" role="menu" *ngIf="isCreateMenuOpen">
      <button
        type="button"
        class="create-menu__item"
        role="menuitem"
        *ngFor="let action of createActions"
        (click)="handleCreateAction(action)"
      >
        {{ action.label }}
      </button>
    </div>
  </div>
</header>
