<div class="data-card">
  @if (icon) {
    <div
      class="icon-wrapper"
      [ngClass]="{
        module: dataType === 'module',
        scenario: dataType === 'scenario',
        average: dataType === 'average',
        total: dataType === 'total',
        success: dataType === 'success',
        danger: dataType === 'danger',
      }"
    >
      <fa-icon [icon]="icon"></fa-icon>
    </div>
  }
  <div>
    <span class="statistic">
      @if (statistic?.topValue != null) {
        {{ statistic?.topValue }}/{{ statistic?.bottomValue }}
      }
      @if (statistic?.percentage != null) {
        {{ statistic?.percentage }}%
      }
      @if (statistic?.singleValue != null) {
        {{ statistic?.singleValue }}
      }
    </span>
    <div class="label">{{ label }}</div>
  </div>
</div>
