<button class="assigned-module-card" type="button" (click)="onClick()">
  <div class="assigned-module-card__top">
    <div>
      <span class="assigned-module-card__status">{{ module.status }}</span>
      <h3>{{ module.title }}</h3>
    </div>

    <span class="assigned-module-card__level">{{ module.level }}</span>
  </div>

  <p class="assigned-module-card__description">{{ module.description }}</p>

  <div class="assigned-module-card__footer">
    <span>{{ module.scenarios }} scenarios</span>
    <div class="assigned-module-card__progress-bar">
      <div
        class="assigned-module-card__progress-fill"
        [style.width.%]="module.progressPercentage"
      ></div>
    </div>
  </div>
</button>
