<button class="assigned-module-card" type="button" (click)="onClick()">
  <div class="assigned-module-card__top">
    <app-status-badge [status]="module.status"></app-status-badge>
    <span class="assigned-module-card__percentage"
      >{{ module.progressPercentage }}%</span
    >
  </div>

  <h3>{{ module.title }}</h3>

  <p class="assigned-module-card__description">{{ module.description }}</p>

  <div class="assigned-module-card__footer">
    <span class="assigned-module-card__level">{{ module.level }}</span>
    <span>{{ module.scenarios }} scenarios</span>
  </div>
</button>
