body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
  color: #1b2b3a;
}

a {
  font-size: 16px;
}

app-nav {
  display: block;
}

app-nav + .app-container {
  margin-top: 60px;
  margin-left: 250px;
  padding: 2rem;
}
