<app-header
  title="Scenario Library"
  subtitle="Manage and create scenarios for your learners."
  [showCreateAction]="true"
  [createActions]="createActions"
></app-header>
<app-dashboard-card>
  <app-list [columns]="columns" [rows]="rows" [actions]="actions"></app-list>
</app-dashboard-card>

<app-delete-confirmation-modal
  [isOpen]="isDeleteModalOpen"
  [title]="selectedScenarioTitle"
  [message]="'Are you sure you wish to delete'"
  (confirmed)="confirmDelete()"
  (cancelled)="cancelDelete()"
></app-delete-confirmation-modal>
